<nav class="main-header navbar navbar-expand navbar-light navbar-white">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <span class="brand-text font-weight-light">SearchJuice</span>
    <% end %>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <div class='btn btn-outline-success col' id='modal-button' data-bs-target='#start-modal-center' data-bs-toggle='modal'>
          <i class="fas fa-sign-in-alt"></i>&ensp;Start
        </div>
      </li>
    </ul>
  </div>
</nav>

<%# TODO %> 