<div class='d-flex justify-content-center mt-5'>
  <div class='d-flex flex-column'>
    <div class='d-flex justify-content-center'>
      <p style="font-size: 24px">Search.  Analyze.  Study.</p>
    </div>

    <div class='d-flex flex-column' data-controller="search">
      <div class='d-flex justify-content-center mt-3'>
        <%= form_with url: articles_search_path, class:'search', method: :post do |form|  %>
          <% form.search_field :search, style: "width: 100%", class:'search-input', placeholder:'Search your articles...', data: { action:"input->search#handleInput" } %>
        <% end %>
      </div>
      
      <div id="search-results" class='d-flex justify-content-center mt-5 results-container' data-search-target="results" style="width: 100%">
      </div>
    </div>

    <div class="mt-5">
      <div class="text-center">
        <h3 class="mb-1">Word Cloud</h3>
        <p class="mb-4">Word Cloud of the most commonly searched words</p>
        <canvas id="word-cloud-canvas"
                width="400"
                height="200"
                data-controller="word-cloud"
                data-word-cloud-list-value="<%= @word_cloud.to_json %>">
        </canvas>
    </div>

    </div>
  </div>
</div>